:root {
    --jadegreen: #a4cac3;
    --lightgrey: #c7c7c7;
    --lightpink: rgb(255, 215, 221);
}
* {
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

html {
    font-size: 16px;
}

/* Header Styles */

.header {
    text-align: center;
    padding: 2rem;
    background-color: black;
    color: var(--jadegreen);
}

body {
    margin: 0;
    line-height: 2;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main Styles */

main {
    flex-grow: 2;
    padding: 8rem 0;
}

.rows {
    height: 8rem;
}

.timeslot {
    border: solid black;
    text-align: center;
    line-height: 8rem;
}

.hour-text {
    text-align: center;
}

.past {
    background-color: var(--lightgrey);
}

.present {
    background-color: var(--lightpink);
}

.future {
    background-color: var(--jadegreen);
}


/* Footer Section*/

.footer {
    background-color: black;
    text-align: center;
    color: var(--jadegreen);
    letter-spacing: 0.2rem;
    padding: 1rem;
    line-height: 3rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.contact-link {
    /* padding: 0.8rem; */
    text-decoration: none;
    color: var(--jadegreen);
}

.contact-link:hover {
}

